/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: slategray;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px; /* Adjust the value as needed */
  margin: 0 auto; /* Center the container horizontally */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  overflow-wrap: break-word; /* Ensure text wraps within the container */
}


.header {
  margin-bottom: 20px;
}

.question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.option {
  margin-bottom: 10px;
}

.option input[type="radio"] {
  margin-right: 10px;
}

.button-container {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

/* Navbar.css */
.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  border-radius: 50%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  font-size: 24px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links:hover {
  color: #fff;
  text-decoration: underline;
}

/* ScienceTrivia.css */
.science-trivia-page {
  padding: 20px;
}

/* HistoryTrivia.css */
.history-trivia-page {
  padding: 20px;
}

/* MathTrivia.css */
.math-trivia-page {
  padding: 20px;
}

/* EntertainmentTrivia.css */
.entertainment-trivia-page {
  padding: 20px;
}
